{% extends 'core/base.html' %}

{% block content %}
<div class="content">
  <div class="container">
	<br><br>
  	<center><table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Título</th>
		<th>Curso</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for tcc in tccs %}
        <tr>
          <td>
            {{ tcc.nome }}<br/>
          </td>
		  <td>
            {{ tcc.curso }}<br/>
          </td>
          
          <td class="align-middle"><a href="/media/{{tcc.document}}" download class="btn btn-success">Download</a></td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>

  </table></center>



  </div>
</div>
{% endblock %}